#mapArea {

    width: auto;
    height: 720px;
}

#mapView{
    width:inherit;
    height: 720px;
}


.markerPopup {
  .changingTable, .unisexRestroom, .ADARestroom {
    display: inline-block;
  }
}
